<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Travel App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
        </style>
        <script src="https://kit.fontawesome.com/0303ad95d9.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <!--Header Section -> containing a title and simple navbar with 2 items-->
        <!--This will be layed out using CSS Flexbox (Horiz)-->
        <div class="image--container">
            <div class="container">
                <header class="header">
                    <h1>Go Explore . . .</h1>
                    <nav>
                        <ul class="nav">
                            <li>Search</li>
                            <li>Results</li>
                        </ul>
                    </nav>
                </header>

            <!--Section where user can enter their search criteria-->
            <!--This will be layed out using CSS Flexbox (Vert)-->
                
                    <h2>Find Your Next Adventure</h2>
                    <div id="search">
                    <form action="">
                        <!--The for label tag must match the input id tag to bind the 2 together-->
                        <i class="fas fa-globe-asia fa-2x"></i>
                        <label for="destination" id="destinationLabel" class="label">Destination</label>
                        <input type="text" placeholder="Select Destination" id="destination" class="inputField" name="destination">
                        <i class="fas fa-plane-departure fa-2x"></i>
                        <label for="departure" id="departureLabel" class="label">Departure</label>
                        <input type="date" id="departure" class="inputField" name="departure">
                        <i class="fas fa-plane-arrival fa-2x"></i>
                        <label for="arrival" id="arrivalLabel" class="label">Arrival</label>
                        <input type="date" id="arrival" class="inputField" name="arrival">
                        <input id="searchButton" class="button" type="submit" name="input" value="Search">
                        <input id="resetButton" class="button" type="submit" name="input" value="Reset">
                    </form>
                </div>  
            </div>
        </div>


        <!--Results section where API Results will be returned to the user-->
        <!--This will be layed out using CSS Grid-->
        <div class="container">
            <div id="results">
                <div class="card">
                    <img src="" alt="">
                    <div class="container">
                        <h4><b>Name of City Here</b></h4>
                        <p>Details about the weather can go here</p>
                    </div>
                </div>  
                <div class="card">
                    <img src="" alt="">
                    <div class="container">
                        <h4><b>Name of City 2 Here</b></h4>
                        <p>Details about the weather can go here</p>
                    </div>
                </div>  
            </div>
        </div>
    </body>
</html>


 <!--https://www.w3schools.com/howto/howto_css_cards.asp-->

 <!-- EXAMPLE STYLING FOR CARD TAKEN FROM LINK ABOVE
     .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 0 0;
  }-->