/*GENERAL SECTION*/

/*https://coolors.co/fa8334-fffd77-ffe882-388697-271033
--COLOR THEME*/

$Color1: whitesmoke;
$color2: #E0DFD5;
$color3: #E8E9EB;
$color4: #313638;
$color5: #E4B363;
$color6: #EF6461;


/*Using the asterisk selects all elements. 
Here we set all elements to 0 padding and margin by default, this is known as a "reset"*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

/*VH = Viewport height - viewable screen split into 100 portions*/
.image--container {
    background-image:url(../images/city_image_2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    filter: grayscale(40%);
    margin-bottom: 70px;
}

body {
    margin: 0px;
}

.label {
    font-size: 20px;
    color: whitesmoke;
    justify-items: start;
}

.inputField {
    width: 40%;
    height: 30%;
}


/*HEADER SECTION*/

.header {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding-top: 20px;
    color: whitesmoke;
    margin-bottom: 70px;
}

.header h1 {
    justify-self: center;
    font-size: 30px;
    font-weight: 500;
}

.header ul.nav {
    display: flex;
    align-self: center;
 
}

.header ul.nav li {
    padding-left: 20px;
    list-style: none;
    padding: 20px;
}

/*SEARCH SECTION*/


h2 {
    font-size: 2.5vw;
    font-size: 5vh;
    color: whitesmoke;
    font-weight: bolder;
    margin: 20px auto 50px auto;
    width: 40%;
    text-align: center;
}


form {
    margin: auto;
    /*background-color: #828287;*/
    background-color: $color4;
    border-radius: 20px;
    width: 30%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    align-items: center;
    min-width: 300px;
}

form .button {
    height: 40%;
    width: 40%;
    place-self: center;
    background-color: $color2;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;

    &:hover {
        background-color: whitesmoke;
        font-size: 1.1rem;
        transition: 0.8s;
    }
}

form .inputField {
    width: 60%;
    height: 60%;
}

form .label {
    align-self: end;
}

form #destinationLabel {
    grid-column: 2/5;
    grid-row: 1/2;
    justify-items: start;
}

form #destination {
    grid-column: 2/5;
    grid-row: 2/3;
}

form #departureLabel {
    grid-column: 2/5;
    grid-row: 3/4;
}

form #departure {
    grid-column: 2/5;
    grid-row: 4/5;
}

form #arrivalLabel {
    grid-column: 2/5;
    grid-row: 5/6;
}

form #arrival {
    grid-column: 2/5;
    grid-row: 6/7;
}

form #searchButton {
    grid-column: 1/3;
    grid-row: 7/9;
}

form #resetButton {
    grid-column: 3/5;
    grid-row: 7/9;
}

form .fa-globe-asia {
    grid-column: 1/2;
    grid-row: 2/3;
    place-self: center;
}

form .fa-plane-departure {
    grid-column: 1/2;
    grid-row: 4/5;
    place-self: center;
}

form .fa-plane-arrival {
    grid-column: 1/2;
    grid-row: 6/7;
    place-self: center;
}

form .fas {
    color: $color2;
}

form .fas:hover {
    color: whitesmoke;
}

/*RESULTS SECTION*/
.results-container {
    margin-bottom: 50px;
}

.results-card {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 30px auto 30px auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.results-card img {
    max-width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.results-content {
    padding: 20px;
}